.scrollbar-red::-webkit-scrollbar {
  width: 12px;
  background-color: #ffffffe6;
}

.scrollbar-red::-webkit-scrollbar-thumb {
  background-color: #ca0000;
  border-radius: 10px;
  max-height: 20px;
  border: 3px solid transparent;
  background-clip: padding-box;
}

.scrollbar-red::-webkit-scrollbar-thumb:hover {
  background-color: #a60000;
}

.scrollbar-red::-webkit-scrollbar-track {
  background: #ececec;
  border-radius: 10px;
}

.scrollbar-red-h::-webkit-scrollbar {
  background-color: #ffffffe6;
  height: 10px;

}

.scrollbar-red-h::-webkit-scrollbar-thumb {
  background-color: #ca0000;
  border-radius: 5px;
  height: 2px;
  border: 2px solid transparent;
  background-clip: padding-box;
}

.scrollbar-red-h::-webkit-scrollbar-thumb:hover {
  background-color: #a60000;
}

.scrollbar-red-h::-webkit-scrollbar-track {
  background: #ececec;
  border-radius: 10px;
}
