@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  @apply m-0 p-0 overflow-x-hidden w-full;
}
.text-outline {
    color: transparent; 
    -webkit-text-stroke: 0.09vw black;
  }
  .bgImage {
    background-image: url('../src/assets/BG-Img/kk\ 1.png') , url( '../src/assets/BG-Img/tree_7072\ 1.png'); /* Adjust the path if necessary */
    background-size: 75vw; /* Adjust the percentage to control the size of the background image */
    background-repeat: no-repeat; /* Ensure the background image does not repeat */
    background-position:  center;
    
  }
 
  @media (max-width: 753px) {
    .bgImage {
      background-size: 753px; /* Adjust background size to 753px */
      background-position: center;
  
    }
  }
 
  
  @media (min-width: 1024px) {
    .back-image {
      background-image: url('../src/assets/IMG\ \(26).png');
      background-size: 100vw;
      background-repeat: no-repeat;
      height: 44.5vh;
    }
  }
  @media (min-width:1024px) {
    .Backgroundimage-LogIN{
      background-image: url('../src/assets/BG-Img/IMG\ \(41).png');
      background-size: 100vw;
      background-repeat: no-repeat;
      height: 32.5vh;
  
  
    }
  }

  @media (min-width:1024px){  
  .Backgroundimage-Signup{
    background-image: url('../src/assets/BG-Img/IMG\ \(42).png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 32.5vh;

  }
}
 
@media (min-width: 1025px){.Backgroundimage-How{

    background-image: url('../src/assets/BG-Img/IMG\ \(29\).png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 32.5vh;
  }}
  
  @media (min-width: 1025px){.back-image-Help{
    background-image: url('../src/assets/BG-Img/IMG\ \(30\).png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 32.5vh;
  }}
  @media (min-width: 1025px){.Account-image{
    background-image: url('../src/assets/BG-Img/IMG\ \(43\).png');
    background-size: 100vw;
    background-repeat: no-repeat;
    height: 32.5vh;
  }
}


  @media (min-width: 1024px){.Backgroundimage-About{
    background-image: url('../src/assets/BG-Img/IMG\ \(34\).png');
    background-size: 100vw;
    background-repeat: no-repeat;
    height: 32.5vh;
  }}
  .bg-img {
    background-image: url('../src/assets/About/IMG (36).png');
    background-size: 72vw;
    background-repeat: no-repeat;
    background-position: center;
    height: 47vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.form-checkbox{
  appearance: none;
  background-color: #f00; /* Red background */
  border: none;
  width: 1.5em;
  height: 1.5em;
  display: grid;
  place-content: center;
  cursor: pointer;
  border-radius: 0.25em;
}

.form-checkbox::before {
  content: "";
  width: 0.75em;
  height: 0.75em;
  transform: scale(0);
  transition: transform 120ms ease-in-out;
  box-shadow: inset 1em 1em white; /* White tick */
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 0, 80% 0, 38% 70%);
}
.form-checkbox:checked::before {
  transform: scale(1);
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  }